/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03-jun-2019, 12:02:45
    Author     : hhidalgo
*/

.box-alumno {
	float: left;
	width: 100%;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 0px;
	border-top: 2px solid #E5E5E5;
	margin-bottom: 20px;
	position: relative;
	-moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.modal .modal-dialog .modal-content {
    border-radius: 15px;
}

.modal .modal-dialog .modal-content .modal-header {
    background: linear-gradient(to right, #02335e 0%, #1e5d88 25%, #3a87b3 50%, #30a3bb 75%, #27c0c3 100%) !important;
    color: white; 
    border-top-left-radius: 14px; 
    border-top-right-radius: 14px;
    -webkit-border-top-left-radius: 14px;
    -webkit-border-top-right-radius: 14px;
    -moz-border-radius-topleft: 14px;
    -moz-border-radius-topright: 14px;
}

.row .main-box, .row .main-box .row .graph-box {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.panel {
    border-radius: 10px;
}

.main-box .main-box-body .alert {
    border-radius: 10px;
}

.row .main-box .main-box-body .profile-box-header {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.espa {
    margin-top: -12px;
}

.row .wizard .wizard-inner {
    border-radius: 8px;
    margin: 15px;
}

/*
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #333;
    background-color: #eee;
}

.espa {
    margin-top: -12px;
}
*/

/* CONTAINERS - ENCUESTA DE ESTUDIOS GENERALES*/

/*.container {max-width: 850px; width: 100%; margin: 0 auto;}*/

.four { width: 32.26%; max-width: 32.26%;}


/* COLUMNS */

.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}

.col:first-of-type { margin-left: 0; }

/* CLEARFIX */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* FORM */

.form .plan input {
	display: none;
}

.form label{
	position: relative;
	color: #fffffa;
	background-color: #52BE80;
	font-size: 20px;
        font-family: "Verdana", Times, serif;
        border-radius: 8px;
	text-align: center;
	height: 40px;
	line-height: 37px;
	display: block;
	cursor: pointer;
	border: 3px solid transparent;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form .plan input:checked + label {
	border: 2px solid #333;
	background-color: #138D75;
	color: #F9E79F;
}

.form .plan input:checked + label:after {
    content: "\2714";
    width: 30px;
    height: 30px;
    line-height: 28px;
    border-radius: 100%;
    border: 2px solid #333;
    background-color: #138D75;
    z-index: 999;
    position: absolute;
    top: -10px;
    right: -10px;
}

.example_c {
    color: #fff !important;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 8px;
    background: #6E2C00;
    padding: 9px;
    border: 2px solid #333 !important;
    border-radius: 8px;
    display: inline-block;
}

/* Efecto en el boton de formula */
/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,800);*/

  .container1{
        text-align: center;
  } 

    .btnDetalle:hover {
        cursor: pointer
    }
    .btnDetalle {
        background: transparent; 
        outline: none;
        position: relative;
        border: 1px solid #111;
        padding: 15px 40px;
        overflow: hidden;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
    }

    /*button:before (attr data-hover)*/
    .btnDetalle:hover:before {
        opacity: 1; 
        transform: translate(0,0);
    }
    
    .btnDetalle:before {
        content: attr(data-hover);
        position: absolute;
        top: 1.1em; left: 0;
        width: 100%;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 800;
        font-size: 12px;
        opacity: 0;
        transform: translate(-100%,0);
        transition: all .3s ease-in-out;
    }
    
    /*button div (button text before hover)*/
    .btnDetalle:hover div {
        opacity: 0; 
        transform: translate(100%,0)
    }
      
    .btnDetalle div {
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 800;
        font-size: 12px;
        transition: all .3s ease-in-out;
      }

video {
    width: 100%;
    height: auto;
}



/* EFECTO PRESENTACION 2*/

.front .better_span {
    text-decoration:none;
    margin: 0;
    font-size: 24px;
    line-height: 1.2em;
}

.tags {
    bottom: 10px;
    position: absolute;
    height: 35px;
}

.tags .tag {
    bottom: 0;
    font-size: 16px;
    background: #DC7633;
    color: white;
    border-radius: 0.5rem;
    padding: 3px 15px;
    /*margin-top: 16px;*/
    transition: all, 0.5s;
    text-decoration:none;
    text-align: right;
}

.flip > .front, .flip > .back {
  display: block;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 0.6s;
  transition-property: transform, opacity;
}
.flip > .front {
    transform: rotateY(0deg);
}
.flip > .back {
    background: linear-gradient(45deg, #009688 70%, #2874A6 100%);
    position: absolute;
    opacity: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg);
}
.flip:hover > .front {
    transform: rotateY(180deg);
}
.flip:hover > .back {
    opacity: 1;
    transform: rotateY(0deg);
}
.flip.flip-vertical > .back {
    transform: rotateX(-180deg);
}
.flip.flip-vertical:hover > .front {
    transform: rotateX(180deg);
}
.flip.flip-vertical:hover > .back {
    transform: rotateX(0deg);
}
.flip {
    position: relative;
    margin: 10px 10px 25px 10px;
}
.flip > .front, .flip > .back {
    display: block;
    color: white;
    background-size: cover !important;
    background-position: center !important;
    height: 260px;
    padding: 1em 2em;
    border-radius: 10px;
}


.text-shadow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 
      0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 
      9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 
      13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 
      17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}



/* efecto para el modal de la encuesta*/

* {
  box-sizing: border-box;
}
/*
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}*/
#h3Letters {
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    margin: 0;
}

#divPan {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    text-align: center;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.card2 {
    width: 600px;
    height: 670px;
    perspective: 1500;
}
.card2 .content {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
}
.more {
  display: none;
}
.more:checked ~ .content {
  transform: rotateY(180deg);
}
.front2, .back2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 10px;
}
.front2 .inner, .back2 .inner {
    height: 100%;
    display: grid;
    transform: translateZ(80px) scale(0.94);
}

.front2:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 10px;
}
.front2 .inner {
  grid-template-rows: 5fr 1fr 1fr 2fr 1fr;
  justify-items: center;
  margin: 15px;
}

.back2 {
  transform: rotateY(180deg);
  background-color: #fff;
  border: 2px solid #f0f0f0;
}
.back2 .inner {
  grid-template-rows: 1fr 2fr 1fr 2fr 14fr 1fr 1fr;
  justify-items: center;
}

.button2 {
    font-size: 14px;
    grid-row: -1;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    display: block;
    padding: 0 1.5em;
    height: 3em;
    line-height: 2.9em;
    min-width: 3em;
    background-color: #1A5276;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    backface-visibility: hidden;
    transition: 0.3s ease-in-out;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.button3 {    
    font-size: 14px;
    text-decoration: none;
    grid-row: -1;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    display: block;
    padding: 0 1.5em;
    height: 3em;
    line-height: 2.9em;
    background-color: #FF4B2B;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    backface-visibility: hidden;
    transition: 0.3s ease-in-out;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.button2:hover, .button3:hover {
    background-color: #229954;
    color: #fff;
}
.button2.return {
    line-height: 3em;
    color: #fff;
    border-color: #355cc9;
    text-shadow: none;
}
.button2.return:hover {
    background-color: #229954;
    color: #fff;
}
/*
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #859ddf;
}
::-webkit-scrollbar-thumb:hover {
  background: #355cc9;
}
*/

/*efecto encuestas*/
/*@import url('https://fonts.googleapis.com/css?family=Dax:400,900');*/

.middle {
  width: 100%;
  text-align: center;
}

.middle input[type="radio"] {
  display: inline-block;
  opacity: 0;
}

.middle #radioEncuesta:checked + .box {
  background-color: #007e90;
}
.middle #radioEncuesta:checked + .box span {
  color: white;
  transform: translateY(70px);
}
.middle #radioEncuesta:checked + .box span:before {
  transform: translateY(0px);
  opacity: 1;
}
.middle .box {    
    border: 2px solid #007e90;
    padding: 5px;
    border-radius: 8px;
    background-color: #fff;
    transition: all 250ms ease;
    will-change: transition;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    position: relative;
    font-family: 'Dax', sans-serif;
    font-weight: 900;
}

.middle .box:active {
    transform: translateY(10px);
}
.middle .box span {
    transform: translate(0, 10px);
    transition: all 300ms ease;
    font-size: 13px;
    user-select: none;
    color: #007e90;
}
.middle .box span:before {
    font-size: 1.2em;
    font-family: FontAwesome;
    display: block;
    transform: translateY(-80px);
    opacity: 0;
    transition: all 200ms ease-in-out;
    font-weight: normal;
    color: white;
}
.middle .back-end span:before {
    content: '';
}

.btn-next {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid #229954;
  border-radius: 0.6em;
  color: #229954;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
  margin: 10px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.btn-next:hover, .btn-next:focus {
  color: #fff;
  outline: 0;
}
.btn-next {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.btn-next:hover {
  box-shadow: 0 0 40px 40px #229954 inset;
}

.btn-prev {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid #CB4335;
  border-radius: 0.6em;
  color: #CB4335;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.btn-prev:hover, .btn-prev:focus {
  color: #fff;
  outline: 0;
}
.btn-prev {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.btn-prev:hover {
  box-shadow: 0 0 40px 40px #CB4335 inset;
}

.btn-back {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  align-self: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.btn-back:hover, .btn-back:focus {
  color: #fff;
  outline: 0;
}
.btn-back {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.btn-back:hover {
  box-shadow: 0 0 40px 40px #e74c3c inset;
}


